/* Global */

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #565b5f;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

/* Main */

.container {
}

.main-content {
    display: flex;
    background-color: #fff;
}

/* .main {
    padding: 60px 50px 0px 50px;
    margin-right: auto;
} */

.main-content-hero {
    padding: 60px 50px 0px 50px;
}

.main-content-hero-heading {
    font-family: "Opan Sans", sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

.main-content-hero-textt {
    font-family: "Opan Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
    color: rgb(105, 103, 103);
}

.main-content-hero-text {
    font-family: "Opan Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    margin-bottom: 60px;
    color: rgb(105, 103, 103);
}

.hero-content-main {
    padding: 0 50px;
    width: 625px;
}

.hero-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 20px;
}

.hero-content-logo {
    margin-right: 160px;
}

.hero-content-heading {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: rgb(107, 105, 105);
    text-transform: uppercase;
}

.hero-content2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 20px;
}

.hero-content3 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 20px;
}

.hero-content4-main {
    border-top: 1px solid;
    border-color: #808080;
    padding: 0 50px;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.hero-content4-main-heading {
    font-family: "Opan Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 180px;
    margin: 0;
    margin-right: auto;
}

.hero-content4-main-heding {
    font-family: "Opan Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgb(145, 141, 141);
    margin: 0;
}

.main-img {
    display: flex;
}
